<!DOCTYPE html> 
<html>
  <head>
  </head>
  <body>
  	<img src="http://cdn2.scratch.mit.edu/get_image/gallery/324627_200x130.png?v=1389559504.81" width="100px"><br>

    <%= yield %>
  </body>

</html>

